body{
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
  font-family:  "Roboto", Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

p{
  margin: 0;
  padding: 0;
}

h1{
  display: none;
}

img{
  width: 100%; 
}

.markdown-body{
  width: 700px;
  margin: 0px auto;
  padding: 10px 10px;
  background-color: #ffffff;
}
