html{
  width: 100%;
}

body{
  background-color: #cccccc;
  margin: 0;
  padding: 0;
  font-family:  "Roboto", Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-feature-settings : "palt" 1;
}

::selection {
    background: #ff0;
    color: #00f;
}

p{
  margin: 0;
  padding: 10px 0;
}

ul{
  list-style: none;
  color: #888888;
  padding-left: 0;
  margin-left: 0;
}

h1{
  color: #0000ff;
}
  
h1:first-child{
  display: none;
}

h2{
    color: #0000ff;
    border-bottom: 2px solid #0000ff;
}

img{
  width: 100%; 
}

.markdown-body{
  width: 90%;
  max-width: 700px;
  margin: 0px auto;
  padding: 10px 10px;
  background-color: #ffffff;
}

h4{
  color: #0000ff;
  text-align: center;
  font-size: normal;
}
