html{
  width: 100%;
}

body{
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family:  "Roboto", Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-feature-settings : "palt" 1;  
  line-height: 1.5em;
}

::selection {
    background: #00f;
    color: #fff;
}

p{
  text-align: justify;
  margin: 0;
  padding: 10px 0;
}

ul{
  list-style: none;
  color: #888888;
  padding-left: 0;
  margin-left: 0;
  overflow: hidden;
  white-space: nowrap;
}

li{
  overflow: hidden;
  white-space: nowrap;
}

h1{
  color: #0000ff;
  font-size: 1.5em;
  padding: 50px;
  text-align: center;
  line-height: 1.5em;
  margin-top: 70px;
}

h2{
    color: #0000ff;
    font-size: 1.5em;
    border-bottom: 2px solid #0000ff;
    ine-height: 1.5em;
    padding-bottom: 7px;
    display: inline-block;
    margin-top: 100px;
}

img{
  width: 100%; 
}

.markdown-body{
  width: 90%;
  max-width: 900px;
  margin: 0px auto;
  padding: 10px 10px;
  background-color: #ffffff;
  line-height: 1.5em;
}

h4{
  color: #0000ff;
  text-align: center;
  font-size: normal;
  margin: 100px 0 100px 0;
}

.video {
  position: relative;
  height: 0;
  padding: 30px 0 56.25%;
  overflow: hidden;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
